@import "../../styles/Variables/Variables.scss";

.PostProject {
  padding-top: 95px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .form-label {
    width: 350px;
    margin: 0 auto;
  }
  textarea {
    width: 350px;
    height: 200px;
  }

  .delete-btn {
    display: inline;
  }
}
