.Book {
  margin-top: 25px;
  margin-bottom: 125px;
  .container {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 250px;
    height: 300px;
    box-shadow: 9px 9px 4px -6px hsla(0, 0%, 0%, 0.3);
  }
}
