@import "../Variables/Variables.scss";

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  // position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Cyber", sans-serif;

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .form-label {
    box-shadow: 9px 9px 4px -6px hsla(0, 0%, 0%, 0.3);
  }

  .form-input:focus {
    border-color: $green;
    box-shadow: none;
    outline: 0 none;
  }

  textarea {
    border-radius: 5px;
    border-color: lightgray;
    box-shadow: none;
    outline: 0 none;
    box-shadow: 9px 9px 4px -6px hsla(0, 0%, 0%, 0.3);
  }

  textarea:focus {
    border-color: $green;
  }

  textarea::placeholder {
    color: $github-gray;
  }

  .svg-all {
    max-width: 800px;
  }

  .green-outline-btn {
    border: 2px solid $green;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
  }

  .green-outline-btn:hover {
    box-shadow: 9px 9px 4px -6px hsla(0, 0%, 0%, 0.3);
    background-color: $off-white;
  }

  .red-outline-btn {
    border: 2px solid red;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
  }

  .red-outline-btn:hover {
    box-shadow: 9px 9px 4px -6px hsla(0, 0%, 0%, 0.3);
    background-color: $off-white;
  }

  .green {
    color: $green;
  }

  .red {
    color: red !important;
  }

  .pink {
    color: $pink;
  }
}

#Bio,
#Portfolio,
#Contact {
  scroll-margin-top: 85px;
}

.svg-theme-btn {
  top: 7px;
  left: 250px;
  z-index: 3;
  position: fixed;
  width: 75px;
  height: auto;
  cursor: pointer;
}

@media (max-width: 900px) {
  .svg-theme-btn {
    top: 82px;
    left: 25px;
  }
}

.light {
  background-color: $white;
  color: $github-gray;

  a {
    color: $github-gray;
  }

  a:hover {
    color: $hacker-green;
  }

  input {
    background-color: $bright-white;
  }

  textarea {
    background-color: $bright-white;
  }

  input:focus {
    background-color: $bright-white;
  }

  textarea:focus {
    background-color: $bright-white;
  }

  textarea::placeholder {
    color: $github-gray;
  }
}

.dark {
  background-color: $github-gray;
  color: $white;

  a {
    color: $white !important;
  }

  a:hover {
    color: $hacker-green !important;
  }

  input {
    background-color: $github-mid-gray;
  }

  textarea {
    background-color: $github-mid-gray;
  }

  input:focus {
    background-color: $github-mid-gray;
  }

  textarea:focus {
    background-color: $github-mid-gray;
  }

  textarea::placeholder {
    color: $white;
  }
}
