.ButtonForm{
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 25px;
    }
    button{

        border-radius: 5px;
        min-width: 55px;
        min-height: 55px;
    }
}