@import "./variables.module.scss";
.Contact {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.form-label {
  margin: 0;
}

.contact-form {
  flex-direction: column;
  justify-content: space-evenly;
  // max-height: 400px;
}

.form-text-input {
  min-width: 190px;
  min-height: 30px;
}

input {
  width: 350px;
  padding-left: 10px;
  margin: 0;
}
textarea {
  margin-top: 15px;
  width: 350px;
  height: 200px;
  padding: 10px 0 0 10px;
}

.email {
  margin-top: 10px;
}

.message {
  margin-top: 5px;
}
.submit-btn {
  font-size: 1.5rem;
  padding: 5px 15px;
  background-color: $white;
  border-radius: 5px;
}

.mobile-break {
  display: none;
}
