@import "../../styles/Variables/Variables.scss";
.Spent{
    .spent-container{
        // background-color: red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        text-align: center;
    }

    .spending{
        padding: 8px 0 0 0;
        width: 265px;
        height: 80px;
        box-shadow:9px 9px 4px -6px hsla(0,0%,0%,.3);
        border: 2px solid $green;
        border-radius: 5px;
    }

    h1{
        font-size: 1.5rem;
    }

}