.BookEntry {
  font-size: 1.25rem;
  margin-bottom: 25px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  button {
    margin-top: 5px;
    border-radius: 5px;
  }
}
